.layout {
  position: relative;
  width: 700px;
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .footer {
    text-align: center;
    font-size: 12px;
    padding: 1rem;
  }
}
