@import '@scss/colors.scss';

.displaytext {
  font-size: 18px;
  color: $gray-800;
  margin: 0 0 10px;
  padding: 0 10px 10px;
  user-select: none;

  .word {
    &.highlight {
      color: $highlight-text-color;
    }

    &[data-pass='true'] {
      color: $green;
    }

    &[data-error='true'] {
      color: $red;
    }
  }
}
