$primary: #3f51b5 !default;

$primary-100: #a1a3b3 !default;
$primary-200: #8f93b3 !default;
$primary-300: #7d83b3 !default;
$primary-400: #6b73b3 !default;
$primary-500: #5964b3 !default;
$primary-600: #4754b3 !default;
$primary-700: #3645b3 !default;
$primary-800: #2435b3 !default;
$primary-900: #1225b3 !default;

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$highlight-text-color: $primary;
$focus-color: $primary;

$blue: #03a9f4 !default;
$indigo: #3f51b5 !default;
$purple: #673ab7 !default;
$pink: #e91e63 !default;
$red: #f44336 !default;
$orange: #ff5722 !default;
$yellow: #ffab00 !default;
$green: #8bc34a !default;
$teal: #009688 !default;
$cyan: #00bcd4 !default;
